@model IEnumerable<TP_COVID19.Web.Models.Patient>

@{
    ViewData["Title"] = "Grippe";
}

<h1>Pas vacciné par la grippe cette année</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateNaissance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            int i = 0;
            foreach (var vac in item.Vaccinations)
            {
                if (vac.Date.Year == DateTime.Now.Year && vac.IDVaccin.Nom=="Grippe")
                { }
                else
                {
                    i = 1;
                }
                if (i == 1)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Prenom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Statut)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sexe)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateNaissance)
                        </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
