@model IEnumerable<TP_COVID19.Web.Models.Patient>

@{
    ViewData["Title"] = "Rappel";
}

<h1>Rappel</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Statut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateNaissance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Prenom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Statut)
                </td>
                <td>
                    @if (item.Sexe == true)
                    {
                        <p>Homme</p>
                    }
                    else if (item.Sexe == false)
                    {
                        <p>Femme</p>
                    }
                    else
                    {
                        <p>-</p>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateNaissance)
                </td>
            </tr>
        }
    </tbody>
</table>
